/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ##### Table Of Contence #####
    0. Mixins 
    1. General Settings 
    1.a Fonts & Headings
    1.b Color vars
    2. Page elements 
    2.a Navigation
    2.b Background shapes
    2.c Grid
    2.d Headings
    2.e Article
    2.f Info box
		2.g Section
		2.h Form
		2.i Aside
		2.j Buttons
		2.k Effects
	3. Specific Page elements
		3.a Main Content
		3.b About me
		3.c References
		3.d Contact information
	4. Content specific
		4.a References 
*/

.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}

.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}


/* #####
    1. General Settings
    1.a Fonts & Headings
*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1{
    font-family: 'Zilla slab', serif;
    font-size: 4em;
}

h2{
    font-family: 'Zilla slab', serif;
    font-size: 2em;
}

h3{
    font-size: 1.5em;
    font-family: 'Zilla slab', serif;
}

.primary-color{
		color: @primaryColor;
}

a{
		color: @darkColor;
		border: 1px solid transparent;
		box-sizing: border-box;
		text-decoration: none;
		.transition(border 500ms);

		&:hover{
			border-bottom-color: @primaryColor;
		}
}

/* ######
    1.b Color vars
*/

@primaryColor: #3498db;
@primaryColorShade: #3087c2; 

@secondaryColor: #1abc9c;
@secondaryColorShade: #16a085;

@lightColor: #ecf0f1;
@lightColorShade: #bdc3c7;

@darkColor: #2c3e50;

/* #####
    2. Page elements
*/

/* ##### 
    2.b Background shapes
*/

.bg-parallellogram{
    width: 100vw;
    height: auto;
    .skew(45deg, 0);
	position: absolute;
	top: 0;
	bottom: 0;
}

/* ######
    2.c Grid
*/

main{
	overflow: hidden;
}

.grid-container{
    margin: 0 1rem;
}

.col{
    margin-bottom: 2em;
		
	&.last{
			margin-right: 0;
		}
}

.clear{
		clear: both;
}
/* ######
    2.d Headings
*/

.section-heading-container{
    text-align: center;
    margin-bottom: 3em;

    .section-heading{
        display: inline;
        position: relative;

        color: @primaryColor;
        border-bottom: solid .4rem #fff;
        
        &:before{
                content: "";
                display: block;
                position: absolute;
                top: 0px;
                right: 0px;
                left: 0px;
                bottom: -.6rem;
                border-bottom: solid .2rem @lightColorShade;
            }
    }
    
}

/* ######
    2.e Article
*/

article{
    color: @darkColor;

    h3{
        margin-bottom: .25em;
    }
    p{
        line-height: 1.5em;
        margin-bottom: 1em;
        text-align: justify;
    }
}


/* #####
    2.f Info boxes
*/

.info-box-container{
		margin-bottom: 1em;
    
    .info-box-heading{
      height: 75px;
			position: relative;
			
			background-color: #fff;
			border-bottom: solid .3em @lightColorShade;
			
			overflow: hidden;
			
			cursor: pointer;
			
		
			h3{
				display: block;
				float: left;
				box-sizing: border-box;
				width: 80%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				margin-left: 1em;
				z-index: 5;
			}
			
    }
	
		.info-box-heading-icon{
				position: absolute;
				top: 50%;
				transform: translateY(-50%) rotate(90deg);
				right: 1.75rem;
				font-size: 2.5em;
				z-index: 5;
		}
	
    .info-box-content{
        padding: 1.5em;
				display: none;	
			
        background-color: #fff;
    }
	
		
		&.open{
			
			.info-box-heading{
					margin-bottom: 0.3em;
					
					background-color: @primaryColor;
					color: #fff;
					border-bottom: none;
					
				h3{
					color: @lightColor;
				}
				
				&:after{
					background: @primaryColorShade;
				}
				
			}
			.info-box-heading-icon{
					transform: translateY(-50%);
			}
			.info-box-content{
					display: block;
			}
	}
	
		&:last-child{
			margin-bottom: 0;
		}
}
.box {
    float: left;
    width: 50%;
}

.box:before {
	content: "";
	display: block;
	padding-top: 100%;
}


.reference-box-container{
	
	.reference-box-hero{
		content: "";
		display: block;
		padding-top: 100%;
		
		background-size: 100% 100%;
		background-position: center center;
		border-bottom: solid .3rem @lightColorShade;
		
		.transition(background 1s);
		
		&:hover{
			background-size: 150% 150%;
		}
	}
	.reference-box-heading{
		padding: .75em;
		margin-top: 0.3em;
		
		background-color: #fff;
		border-bottom: solid .3rem @lightColorShade;
	}
}

/* #####
	2.g Page Section
*/

.page-section{
	 padding: 3em 0;
}

/* #####
	2.h Form
*/

fieldset{
	 h3{
		margin-bottom: .25em;
		 color: @darkColor;
		}
}

input, textarea{
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	margin-bottom: 1em;
	
	font-size: 1em;
	border: 0;
	border-bottom: solid .3rem @primaryColor;
	
	-webkit-appearance: none;
	border-radius: 0;
	
	cursor: pointer;
}

textarea{
	height: 20em;
}

.input-container{
	display: block;
	position: relative;
	overflow: hidden;
	
	&:after{
		content: "";
		position: absolute;
		bottom: 1em;
		left: -100%;
		width: 100%;
		height: 0.3rem;
		z-index: 3;
		
		background-color: @secondaryColor;
		
		.transition(all 500ms);
	}
	
	&:hover{
		&:after{
			left: 0;	
		}
	}
}

input[type="submit"]{
	background-color: @primaryColor;
	color: @lightColor;
	border-color: @primaryColorShade;
}

/* #####
	2.i Aside
*/

aside{
	h3{
		margin-bottom: .25em;
	 color: @darkColor;
	}
}

/* #####
	2.j Buttons
*/

.btn{
	font-family: 'Zilla Slab', serif;
	
	display: inline-block;
	padding: 0.75em 2em;
	border-bottom: solid 0.3rem transparent;
	
	.transition(none);

	
	&:hover{
		border-bottom-color: transparent !important;
	}
	
}

/* #####
	2.k Effects
*/
.slide-from-left{
	position: relative;
	overflow: hidden;
	
	*{
		position: relative;
		z-index: 5;
	}

	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		z-index: 3;

		.transition(all 500ms);
		background-color: @lightColor;
	}

	&:hover:after{
		left: 0;
	}
}
/* #####
    3. Specific Page elements
    3.a Main Content
*/

#main-content{
    background-color: @primaryColor;
    color: @lightColor;
    border-bottom: solid 1em @lightColorShade; 
    
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    position: relative;

    .text-container{
        position: absolute;
        top: 50%;
				left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 2;
			
				max-width: 1024px;
    
        .hero-text{
            text-shadow: 0 .05em 0 @lightColorShade;
        }

        .tag-line-container{
            border-top: solid .4em @lightColor;
            border-bottom: solid .4em @lightColor;
            
            padding: .75em;
            margin: 2em auto 0 auto;
            width: 70%;
						min-width: 260px;
            position: relative;
            .tag-line{

            }
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 0px;
                right: 0px;
                left: 0px;
                bottom: -.6em;
                border-top: solid .2em @lightColorShade;
                border-bottom: solid .2em @lightColorShade;
            }
        }
    }

	.btn{
		margin-top: 2em;
		
		background-color: @lightColor;
		border-bottom-color: @lightColorShade;
		color: @primaryColor;
	}
	
    .bg-parallellogram{
        background-color: @primaryColorShade;
        z-index: 1;
    }

}

/* #####
    3.b About me
*/
#about{
    background-color: @lightColor;
}

/* #####
		3.c References
*/
#references{
		position: relative;
		box-sizing: border-box;	
	
		background-color: @secondaryColor;	
	
	.section-heading{
		color: #fff;
	}
	
	.grid-container{
		position: relative;
		z-index: 2;
	}
	
	.bg-parallellogram{
		z-index: 1;
		
		background-color: @secondaryColorShade;
	}
}

#contact{
	background-color: @lightColor;
}

/* #####
		3.d Contact 
*/

#contact{

	#contact-information{
		i{
			font-size: 1.5em;
			color: @primaryColor;
			margin-right: 1em;
			line-height: 2em;
		}


	}
}

/* #####
	Media Screen iPhone+
*/

@media screen and (min-width: 42.66666667em) {
	
	/* #####
    1. General Settings
    1.a Fonts & Headings
	*/

	
	h1{
		font-size: 8em;
	}
	
	
	/* ######
			2.c Grid
	*/

	.grid-container{
			margin: 0 3.5%;
	}
	
	.grid-33{
		width: 31%;
		margin-right: 3.5%;
		
	}
	
	.col{
		float: left;
	}
	
	/* #####
	2.g Page Section
	*/

	.page-section{
		 padding: 5em 0;
	}
	
	/* #####
    3. Specific Page elements
    3.a Main Content
	*/
	
	#main-content{
		
		.text-container{
			width: 85%;
			
			.tag-line{
				font-size: 3.5em;
			}
		}
	}
	
	
}

/* #####
	Media Screen iPad+
*/

@media screen and (min-width: 56.8888887em) {
	
	/* ######
			2.c Grid
	*/
	.grid-container{
		margin: 0 4%;
	}
	
	.grid-50{
		width: 46%;
		margin-right: 8%;
	}

	/* ######
    2.e Article
*/

	article{
				h3{
					margin-bottom: 1em;
			}
	}
	
	/* #####
	2.h Form
	*/

	fieldset{
		 h3{
			margin-bottom: 1em;
			}
	}
	
	/* #####
	2.i Aside
	*/

	aside{
		h3{
			margin-bottom: 1em;
		}
	}

}
	

/* #####
	4. Content specific
	4.a References
*/

#reference-1{
	.reference-box-hero{
		background-image: url("http://lorempixel.com/800/800/");
	}
}

#reference-2{
	.reference-box-hero{
		background-image: url("http://lorempixel.com/800/800/");
	}
}

#reference-3{
	.reference-box-hero{
		background-image: url("http://lorempixel.com/800/800/");
	}
}
